<div class="contact-form w-form">
          <h2>Get in touch with us</h2>
          <form id="email-form-2" name="email-form-2" data-name="Email Form 2" class="form"><input type="text" class="text-field w-input" maxlength="256" name="Full-Name" data-name="Full Name" placeholder="Full Name" id="Full-Name" required=""><input type="email" class="text-field w-input" maxlength="256" name="Email-Address" data-name="Email Address" placeholder="Email" id="Email-Address" required=""><input type="email" class="text-field w-input" maxlength="256" name="Email-Address-2" data-name="Email Address 2" placeholder="Email" id="Email-Address-2" required="">
            <div><textarea placeholder="Type your questions or enquiries " maxlength="5000" id="Comments" name="Comments" data-name="field" class="w-input"></textarea></div><input type="submit" value="Send a Message" data-wait="Please wait..." class="button w-button">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
</div>
