{{$pageName:= .Page}}
{{if ne $pageName "about"}}
<div class="subscribe-holder">
  <div class="subscribe-heading-wrap">
    <h2 class="subscribe-heading">Subscribe</h2>
    <p>Be the first to know about our updates</p>
  </div>
 <div class="form-block w-form">
    <form id="email-form" action="" class="subscribe-form">
      <input type="email" class="subscribe-input-text w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="What is your email address" id="email-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button">
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
</div>
</div>
{{end}}
