{{ define "mainContent"}}
{{partial "breadcrumb_code" .}}
<div class="page-header">
    <div class="container-big">
      <div class="pages-header-inside">
        {{/* This loads the partial header-crumbs */}}
        {{- partial "header-crumbs/name_section" . -}}
        <p class="text-subpages">{{.Params.Header.summary}}</p>
      </div>
    </div>
    <div class="abs-header"><img src="{{.Params.Header.img_background}}" loading="lazy" alt=""></div>
</div>
<section>
  <div class="page-padding">
    <div class="container-big">
      {{range .Pages }}
        {{partial "structure_list/structure_listed" .}}
      {{end}}
    </div>
  </div>
</section>

{{end}}
