{{- define "mainContent" -}}
  <!-- Header code holder - This can be found in HeaderContent-->
  <div class="header">
    <div class="container-big">
      <div class="header-content-wrap">
        {{- $access_headerSection := .Params.HeaderContent -}}
          {{- with $access_headerSection -}}
            <h1 class="color-text-white">{{$access_headerSection.Heading}}</h1>
            <p class="text-subhead color-text-white">{{$access_headerSection.content}}</p>
              <div class="heading-buttons-wrap">
                <a href="#" class="button w-button">Explore insight</a>
                <a href="/#core-cognition" class="info-link w-inline-block">
               <div>What is core cognition?</div>
                </a>
              </div>
           {{- end -}}
      </div>
    </div>
   {{- partial "homepage/featured-image" . -}}
  </div>

  <!-- What is Core Cognition - -->
  <section id="core-cognition"  class="section-core-cognition">
    <div class="page-padding">
      <div class="container-big">
        <div class="core-cognition-wrapper">
          {{- $access_secondSection := .Params.Secondsection -}}
            {{- with $access_secondSection -}}
              <h2 class="semi-bold">{{$access_secondSection.heading}}</h2>
              <p>{{$access_secondSection.content}}</p>
            {{- end -}}
        </div>
      </div>
    </div>
    <div class="abs-corecognition right"><img src="{{.Params.Secondsection.background_img}}" loading="lazy" alt=""></div>
    <div class="abs-corecognition"><img src="{{.Params.Secondsection.background_img}}" loading="lazy" alt=""></div>
  </section>

  <!-- the Section basis block -->
  {{partial "homepage/section_basics" .}}

  <!-- The analyses Block -->
  {{partial "homepage/section_analyses" .}}

  <!-- This partial references the slider - Function for slider -->
  {{- partial "homepage/slider" . -}}

  <!-- include the Blog section -->
  <section>
    <div class="page-padding">
      <div class="container-big">
        <div class="center-text">
          {{- with .GetPage "blog/_index.md" -}}<h2 class="semi-bold">{{.Section}}</h2>{{- end -}}
        </div>
        <div class="blog-grid-homepage">
          {{- range where .Site.RegularPages "Section" "blog" -}}
          <!-- <div>
            <div class="featured-blog-image"></div>
            <h3>{{.Title}}</h3>
            <p>{{.Params.Header.summary}}</p>
          </div> -->
          <div class="blog-summary-item">
            {{ range .Params.categories}}
            <a href="/categories/{{.|urlize}}" class="category-holder w-inline-block">
              <div>{{.}}</div>
            </a>
            {{end}}
            <a data-w-id="936c94a5-ee06-2fd5-70b1-8b2927233bbc" href="{{.Permalink}}" class="blog-item-link w-inline-block">
              <div class="blog-featured-img">
                <img src="{{.Params.Header.featuredimage}}" class="blog-img" loading="lazy" alt="{{.Params.Header.alternativetext}}">
                {{with .Params.Header.featuredvideo}}
                <div class="abs-blog-summary">
                  <div>Video Blog</div>
                </div>
                {{end}}
              </div>
              <h2 class="post-headings blogging">{{.Params.Header.heading}}</h2>
              <p>{{.Params.Header.summary}} </p>
            </a>
            <div style="display:none !important">
                  {{.Content}}
            </div>
          </div>

          {{- end -}}
        </div>
      </div>
    </div>
  </section>
{{- end -}}
