<section class="section-slide-summary-holder">
    <div class="page-padding">
      <div class="container-big">
        <div>
          <div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="w-slider-mask">
              {{- $storeSlider := .Site.GetPage "/slider" -}}
              {{- $reusableSlider := $storeSlider.Resources.ByType "page" -}}
              {{- range $reusableSlider -}}
              <div class="slide w-slide">
                <div>
                  <div class="center-text">
                    <h2 class="semi-bold">{{- .Params.SliderHeader -}}</h2>
                  </div><img src="{{.Params.sliderimage}}" loading="lazy" sizes="72vw" alt="{{.Params.alt}}">
                </div>
              </div>
              {{- end -}}
            </div>
            <div class="slider-arrow left w-slider-arrow-left">
              <div class="arrow-iconwrap">
                <div>󰅂</div>
              </div>
            </div>
            <div class="slider-arrow right w-slider-arrow-right">
              <div class="arrow-iconwrap">
                <div>󰅁</div>
              </div>
            </div>
            <div class="kill-showing w-slider-nav w-round"></div>
          </div>
        </div>
      </div>
    </div>
</section>
